#main{
    display: flex;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

#division1{
    width: 50%;
    background-color: lightseagreen;
    color: white;
    text-align: center;
}

#division2{
    width: 50%;
    background-color: deepskyblue;
    padding: 30px;
}

legend{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

input[type=text],input[type=tel],input[type=email],textarea{
width: 100%;

}

button{
    background-color: #4772ff;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

body{
    background-color: purple;
}